@model AddOrEditScheduleFormatCommand
@{
    Layout = "_AddOrEdit_Layout";

    var maxScheduleItems = 10;
}

@section Title
{
    Формат расписания
}

@section Body
{
    @using (Html.Controls().Form(settings =>
    {
        settings.Url = Url.Dispatcher().Push(new AddOrEditScheduleFormatCommand
        {
            FacultyId = Convert.ToInt32(Context.Request.Cookies[GlobalSelectors.FacultyId])
        });
        settings.Class = "d-flex flex-column gap-3";
    }))
    {
        <div class="row">
            <div class="form-group col">
                <label class="form-label">@DataResources.ScheduleItemsCount</label>
                @(Html.When(JqueryBind.Change | JqueryBind.InitIncoding)
                      .StopPropagation()
                      .PreventDefault()
                      .OnSuccess(dsl => dsl.Self().JQuery.Call("hideByCompareValue", "data-index"))
                      .When("invalid")
                      .StopPropagation().PreventDefault()
                      .AsHtmlAttributes(new
                      {
                          step = 1,
                          name = nameof(AddOrEditScheduleFormatCommand.ItemsCount),
                          @class = "form-control"
                      })
                      .ToInput(HtmlInputType.Number, (Model.ItemsCount == 0 ? 7 : Model.ItemsCount).ToString()))
                @Html.ValidationMessageFor(s => s.ItemsCount)
            </div>
            <div class="form-group col">
                <label class="form-label" asp-for="StartDate">@DataResources.StartDate</label>
                <input class="form-control" asp-for="StartDate" type="date">
                @Html.ValidationMessageFor(s => s.StartDate)
            </div>
            <div class="form-group col">
                <label class="form-label" asp-for="CountOfWeeks">@DataResources.CountOfWeeks</label>
                <input class="form-control" asp-for="CountOfWeeks" type="number">
                @Html.ValidationMessageFor(s => s.CountOfWeeks)
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label class="form-label" asp-for="SessionStartWeek">@DataResources.SessionStartWeek</label>
                <input class="form-control" asp-for="SessionStartWeek" type="number">
                @Html.ValidationMessageFor(s => s.SessionStartWeek)
            </div>
            <div class="form-group col">
                <label class="form-label" asp-for="SessionDuration">@DataResources.SessionDurationInWeeks</label>
                <input class="form-control" asp-for="SessionDuration" type="number">
                @Html.ValidationMessageFor(s => s.SessionDuration)
            </div>
        </div>
        <div class="form-divider"></div>
        <h5>@DataResources.ScheduleByScheduleItem</h5>
        <div class="d-flex flex-row gap-3 flex-wrap">
            @for (var i = 0; i < maxScheduleItems; i++)
            {
                <div class="rounded p-3 border" data-index="@i">
                    <h4>@(i + 1) @DataResources.ScheduleItem</h4>
                    @Html.Hidden($"{nameof(AddOrEditScheduleFormatCommand.Items)}[{i}].Order", i)
                    @Html.Hidden($"{nameof(AddOrEditScheduleFormatCommand.Items)}[{i}].Id", (i < Model.ItemsCount ? Model.Items[i].Id : null))
                    <div class="d-flex gap-3">
                        <div>
                            <span>Начало</span>
                            <div class="form-group">
                                <input name="@(nameof(AddOrEditScheduleFormatCommand.Items))[@i].Start" class="form-control border-0" type="time" value="@(i < Model.ItemsCount ? Model.Items[i].Start : "")"/>
                            </div>
                        </div>
                        <div>
                            <span>Конец</span>
                            <div class="form-group">
                                <input name="@(nameof(AddOrEditScheduleFormatCommand.Items))[@i].End" class="form-control border-0" type="time" value="@(i < Model.ItemsCount ? Model.Items[i].End : "")"/>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="@($"{nameof(AddOrEditScheduleFormatCommand.Items)}[{i}]")" name="@($"{nameof(AddOrEditScheduleFormatCommand.Items)}[{i}]")"/>
                    @Html.ValidationMessage($"{nameof(AddOrEditScheduleFormatCommand.Items)}[{i}]")
                </div>
            }
        </div>
    }
}
