@{
    Layout = "~/Views/Shared/_Login_Layout.cshtml";
}

@section Body
{
    <div class="rounded shadow w-20 d-flex flex-column p-2 bg-light">
        @if (User.Identity?.IsAuthenticated ?? false)
        {
            <div class="flex-grow-1 text-center mb-3">
                @DataResources.YouCantUseApplication
            </div>
            <a class="btn btn-light col" href="@Url.Action("SignOut", "Account", new { Area = "MicrosoftIdentity" })">
                @DataResources.SignOut
            </a>
        }
        else
        {
            <div class="flex-grow-1 text-center mb-3">
                Проходите
            </div>
            <a class="btn btn-light" href="@Url.Action("SignIn", "Account", new { Area = "MicrosoftIdentity" })">
                @DataResources.SignInWith Sfedu
            </a>
        }
    </div>
}
