@model AddOrEditGroupCommand
@{
    Layout = "~/Views/Shared/_AddOrEdit_Layout.cshtml";
}

@section Title
{
    @DataResources.Group
}

@section Body
{
    @using (Html.Controls().Form(settings =>
    {
        settings.Url = Url.Dispatcher().Push<AddOrEditGroupCommand>();
        settings.OnSave = dsl => dsl.Document.RedirectTo('#' + Url.Dispatcher().AsView("~/Views/Edit/Group/Index.cshtml").ToRelative());
        settings.Class = "d-flex flex-column gap-3";
    }))
    {
        @Html.HiddenFor(r => r.Id)

        <h5>@DataResources.MainInformation</h5>

        <div class="mx-3 d-flex gap-3">
            @Html.ForGroup(r => r.Code).TextBox(control =>
            {
                control.AddClass("w-80");
                control.Label.Name = DataResources.GroupCode;
            })
            
            @Html.ForGroup(r => r.StudentCount).TextBox(control =>
            {
                control.AddClass("w-20");
                control.Label.Name = DataResources.StudentCount;
            })
        </div>

        <div class="mx-3 d-flex gap-3">
            @Html.ForGroup(r => r.DepartmentId).DropDown(control =>
            {
                control.AddClass("w-100");
                control.Label.Name = DataResources.Department;
                control.Input.Data = Html.Dispatcher().Query(new GetDepartmentsForDDQuery
                {
                    FacultyId = Convert.ToInt32(Context.Request.Cookies[GlobalSelectors.FacultyId])
                });
            })
        </div>
    }
}
