@using Domain
@using UI.Query
@model AddOrEditDisciplineCommand
@{
    Layout = "~/Views/Shared/_AddOrEdit_Layout.cshtml";
}

@section Title
{
    @DataResources.Discipline
}

@section Body
{
    @using (Html.Controls().Form(settings =>
    {
        settings.Url = Url.Dispatcher().Push(new AddOrEditDisciplineCommand());
        settings.Class = "d-flex flex-column gap-3";
    }))
    {
        @Html.HiddenFor(s => s.Id)
        <div class="row">
            <div class="col-3">
                @Html.ForGroup(s => s.Name).TextBox(control =>
                {
                    control.Label.Name = DataResources.DisciplineName;
                    control.Input.OnChange = dsl => dsl.Self().Call("suggestInputValueByNamingCase", Selector.Jquery.Self(), nameof(Model.Code));
                })
            </div>
            <div class="col-2">
                @Html.ForGroup(s => s.Code).TextBox(control => control.Label.Name = DataResources.Abbreviation)
            </div>
            <div class="col-2">
                <div class="form-group">
                    @Html.LabelFor(s => s.DepartmentId, DataResources.Department)
                    @Html.Controls().Select(control =>
                    {
                        control.Class = "form-control";
                        control.Name = nameof(Model.DepartmentId);
                        control.Items = Html.Dispatcher().Query(new GetDepartmentsForDDQuery
                        {
                            SelectedId = Model.DepartmentId.GetValueOrDefault(),
                            FacultyId = Convert.ToInt32(Context.Request.Cookies[GlobalSelectors.FacultyId])
                        }).Select(s => (DropDownItem)s);
                        control.IsSearchable = true;
                    })
                    @Html.ValidationMessageFor(s => s.DepartmentId)
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    @Html.LabelFor(s => s.KindId, DataResources.DisciplineType)
                    @Html.Controls().Select(control =>
                    {
                        control.Class = "form-control";
                        control.Name = nameof(Model.KindId);
                        control.Items = Html.Dispatcher().Query(new GetDisciplineTypesForDDQuery
                        {
                            SelectedId = Model.KindId
                        }).Select(s => (DropDownItem)s);
                        control.IsSearchable = true;
                    })
                    @Html.ValidationMessageFor(s => s.KindId)
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    @Html.LabelFor(s => s.GroupIds, DataResources.GroupList)
                    @Html.Controls().Select(control =>
                    {
                        control.Class = "form-control";
                        control.Name = nameof(Model.GroupIds);
                        control.Items = Html.Dispatcher().Query(new GetGroupsForDDQuery
                        {
                            SelectedIds = Model.GroupIds.ToArray(),
                            FacultyId = Convert.ToInt32(Context.Request.Cookies[GlobalSelectors.FacultyId]),
                        });
                        control.IsMultiselect = true;
                        control.IsSearchable = true;
                        control.ActionBox = true;
                        control.ChangeTimeout = 1000;
                        control.OnChange = dsl => dsl.WithSelf(s => s.Closest(p => p.Class("tab-pane")).Find(c => c.Name("plan-container")))
                                                     .Trigger.None()
                                                     .If(() => Selector.Jquery.Name<AddOrEditDisciplineCommand>(s => s.GroupIds) != null);
                    })
                    @Html.ValidationMessageFor(s => s.GroupIds)
                </div>
            </div>
        </div>
        <div class="form-divider"></div>
        <div class="row">
            <h5>@DataResources.SubDisciplines</h5>
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    @{
                        var i = 0;
                    }
                    @foreach (var subDiscipline in Model.SubDisciplines)
                    {
                        <li class="nav-item" role="presentation">
                            <button class="nav-link @(i == 0 ? "active" : "")" id="tab-@i" data-bs-toggle="tab" data-bs-target="#page-@i" type="button" role="tab" aria-controls="page-@i" aria-selected="@(i == 0 ? "true" : "false")">
                                @subDiscipline.Name
                            </button>
                        </li>
                        i++;
                    }
                </ul>
                <div class="tab-content">
                    @{
                        i = 0;
                    }
                    @foreach (var subDiscipline in Model.SubDisciplines)
                    {
                        <div class="tab-pane fade @(i == 0 ? "show active" : "")" id="page-@i" role="tabpanel" aria-labelledby="tab-@i">
                            @Html.Hidden($"{nameof(Model.SubDisciplines)}[{i}].{nameof(subDiscipline.Id)}", subDiscipline.Id)
                            @Html.Hidden($"{nameof(Model.SubDisciplines)}[{i}].{nameof(subDiscipline.KindId)}", subDiscipline.KindId)
                            <div class="row mt-3">
                                <div class="form-group col-2">
                                    <label class="form-label">@DataResources.Hours</label>
                                    <input class="form-control" type="number" name="@($"{nameof(Model.SubDisciplines)}[{i}].{nameof(subDiscipline.Hours)}")" placeholder="0" value="@subDiscipline.Hours"/>
                                    @Html.ValidationMessage($"{nameof(Model.SubDisciplines)}[{i}].{nameof(subDiscipline.Hours)}")
                                </div>
                                <div class="form-group col-4">
                                    @Html.Label($"{nameof(Model.SubDisciplines)}[{i}].{nameof(subDiscipline.TeacherIds)}", DataResources.Teachers, new { @class = "form-label" })
                                    @Html.Controls().Select(control =>
                                    {
                                        control.Name = $"{nameof(Model.SubDisciplines)}[{i}].{nameof(subDiscipline.TeacherIds)}";
                                        control.Class = "form-control";
                                        control.IsMultiselect = true;
                                        control.IsSearchable = true;
                                        control.Items = Html.Dispatcher().Query(new GetTeachersForDDQuery
                                        {
                                            FacultyId = Convert.ToInt32(Context.Request.Cookies[GlobalSelectors.FacultyId]),
                                            SelectedIds = subDiscipline.TeacherIds
                                        });
                                        control.MaxVisibleElements = 1;
                                        control.OnChange = dsl => dsl.Window.Console.Log("hahaha", "hehehe");
                                        control.ChangeTimeout = 1000;
                                        control.OnChange = dsl => dsl.WithSelf(s => s.Closest(p => p.Class("tab-pane")).Find(c => c.Name("plan-container")))
                                                                     .Trigger.None()
                                                                     .If(() => Selector.Jquery.Name<AddOrEditDisciplineCommand>(s => s.GroupIds) != null);
                                    })
                                    @Html.ValidationMessage($"{nameof(Model.SubDisciplines)}[{i}].{nameof(subDiscipline.TeacherIds)}")
                                </div>
                            </div>
                            <div class="row mt-3">
                                <h5>@DataResources.DisciplinePlanByWeeks</h5>
                                @(Html.When(JqueryBind.None)
                                      .Ajax(Url.Dispatcher().Query<GetDisciplinePlansWEBQuery>(new
                                      {
                                          GroupIds = Selector.Jquery.Name<AddOrEditDisciplineCommand>(s => s.GroupIds),
                                          TeacherIds = Selector.Jquery.Name($"{nameof(Model.SubDisciplines)}[{i}].{nameof(subDiscipline.TeacherIds)}"),
                                          LastIndex = i,
                                          SubDisciplineId = subDiscipline.Id
                                      }).AsView("~/Views/Edit/Discipline/Tmpl/GroupsItem_Tmpl.cshtml"))
                                      .OnSuccess(dsl => dsl.Self().Insert.Html())
                                      .AsHtmlAttributes(new { name = "plan-container" })
                                      .ToDiv())
                            </div>
                        </div>
                        i++;
                    }
                </div>
            </div>

        </div>
    }
}
