@using Incoding.Web.MvcContrib
@using Domain.Api
@using Resources
@using UI.Common.Extensions
@model UI.Common.Models.LastIndexModel

@using (var template = Html.Incoding().Template<GetFacultiesQuery.Response>())
{
    @using (var faculty = template.ForEach())
    {
        var index = string.IsNullOrWhiteSpace(Model.LastIndex) ? faculty.Index().ToString() : Model.LastIndex;

        <div class="row border rounded p-2">
            @Html.Hidden($"Items[{index}].{nameof(SaveFacultiesCommand.Item.Id)}", faculty.For(s => s.Id))
            @Html.Hidden($"Items[{index}].{nameof(SaveFacultiesCommand.Item.IsDeleted)}", false)

            <div class="col-2">
                <input for="code" name="Items[@index].@(nameof(SaveFacultiesCommand.Item.Code))" type="text" class="form-control text-center" placeholder="@DataResources.Placeholder_FacultyCode" value="@faculty.For(s => s.Code)"/>
            </div>
            <div class="col-6">
                <input for="name" name="Items[@index].@(nameof(SaveFacultiesCommand.Item.Name))" type="text" class="form-control" placeholder="@DataResources.Placeholder_FacultyName" value="@faculty.For(s => s.Name)"/>
            </div>
            <div class="col d-flex">
                <div class="my-auto ms-auto align-self-end">
                    @(Html.When(JqueryBind.Click)
                          .StopPropagation()
                          .OnSuccess(dsl => dsl.WithName($"Items[{index}].{nameof(SaveFacultiesCommand.Item.Code)}")
                                               .Trigger.Focus())
                          .AsHtmlAttributes(new { @class = "btn btn-light" })
                          .ToDiv(@<i class="fs-6 bi-pen"></i>))

                    @(Html.When(JqueryBind.InitIncoding)
                          .OnSuccess(dsl =>
                          {
                              if (!string.IsNullOrWhiteSpace(Model.LastIndex))
                              {
                                  dsl.WithName($"Items[{index}].{nameof(SaveFacultiesCommand.Item.Code)}")
                                     .Trigger.Focus();
                              }
                          })
                          .When(JqueryBind.Click)
                          .StopPropagation()
                          .OnSuccess(dsl =>
                          {
                              dsl.WithSelf(s => s.Closest(p => p.Class("row"))).JQuery.Attr.AddClass("d-none");
                              dsl.WithName($"Items[{index}].{nameof(SaveFacultiesCommand.Item.IsDeleted)}")
                                 .JQuery.Attr.Val(true);
                          })
                          .AsHtmlAttributes(new { @class = "btn btn-light" })
                          .ToDiv(@<i class="fs-6 bi-trash"></i>))
                </div>
            </div>
        </div>
    }
}