@model AddOrEditBuildingCommand
@{
    Layout = "~/Views/Shared/_AddOrEdit_Layout.cshtml";
}

@section Title
{
    @DataResources.Building
}

@section RemoveButton
{
    @Html.Controls().ButtonConfirm(settings =>
    {
        settings.IsDisabled = Model.Id == 0;
        settings.Url = Url.Dispatcher().Push(new DeleteBuildingCommand { Id = Model.Id ?? 0 });
        settings.OnSuccess = dsl => dsl.WithId(nameof(Building)).Trigger.Click();
        settings.Text = DataResources.Delete;
        settings.Icon = "delete";
        settings.TextConfirm = DataResources.ConfirmDelete;
        settings.TextInProcess = DataResources.Deletion;
        settings.Color = ConfirmSettings.ButtonColor.Danger;
    })
}

@section Body
{
    @using (Html.Controls().Form(settings =>
    {
        settings.Url = Url.Dispatcher().Push<AddOrEditBuildingCommand>();
        settings.OnSave = dsl => dsl.WithId(nameof(Building)).Trigger.Click();
        settings.Class = "d-flex flex-column gap-3";
    }))
    {
        @Html.HiddenFor(r => r.Id)

        <h5>@DataResources.MainInformation</h5>

        <div class="mx-3 d-flex gap-3">
            @Html.ForGroup(r => r.Name).TextBox(control =>
            {
                control.AddClass("w-100");
                control.Label.Name = DataResources.BuildingName;
            })
        </div>
    }
}
