@model AddOrEditBuildingCommand

@{
    Layout = "~/Views/Shared/_AddOrEdit_Layout.cshtml";
}

@section Title
{
    @DataResources.Building
}

@section RemoveButton
{
    @(Html.When(JqueryBind.Click)
          .Ajax(Url.Dispatcher().Push(new DeleteBuildingCommand { Id = Model.Id ?? 0 }))
          .OnSuccess(dsl => dsl.WithId(nameof(Building)).Trigger.Click())
              .AsHtmlAttributes(classes: "btn btn-danger align-self-end h-fit " + (Model.Id == 0 ? "disabled" : string.Empty), title: DataResources.Delete)
          .ToButton(@<span class="material-symbols-rounded">delete</span>))
}

@section Body
{
    @using (Html.Controls().Form(settings =>
    {
        settings.Url = Url.Dispatcher().Push<AddOrEditBuildingCommand>();
        settings.OnSave = dsl => dsl.WithId(nameof(Building)).Trigger.Click();
        settings.Class = "d-flex flex-column gap-3";
    }))
    {
        @Html.HiddenFor(r => r.Id)

        <h5>@DataResources.MainInformation</h5>

        <div class="mx-3 d-flex gap-3">
            @Html.ForGroup(r => r.Name).TextBox(control =>
            {
                control.AddClass("w-100");
                control.Label.Name = DataResources.BuildingName;
            })
        </div>
    }
}
