@model AddOrEditFacultyCommand
@{
    Layout = "~/Views/Shared/_AddOrEdit_Layout.cshtml";
}

@section Title
{
    @DataResources.Faculty
}

@section RemoveButton
{
    @Html.Controls().ButtonConfirm(settings =>
    {
        settings.IsDisabled = Model.Id == 0;
        settings.Url = Url.Dispatcher().Push(new DeleteFacultyCommand { Id = Model.Id ?? 0 });
        settings.OnSuccess = dsl => dsl.WithId(nameof(Faculty)).Trigger.Click();
        settings.Text = DataResources.Delete;
        settings.Icon = "delete";
        settings.TextConfirm = DataResources.ConfirmDelete;
        settings.TextInProcess = DataResources.Deletion;
        settings.Color = ConfirmSettings.ButtonColor.Danger;
    })
}

@section Body
{
    @using (Html.Controls().Form(settings =>
    {
        settings.Url = Url.Dispatcher().Push<AddOrEditFacultyCommand>();
        settings.OnSave = dsl =>
        {
            dsl.WithId(nameof(Faculty)).Trigger.Click();
            dsl.WithId(GlobalSelectors.FacultyListId).Trigger.Invoke("refresh");
        };
        settings.Class = "d-flex flex-column gap-3";
    }))
    {
        @Html.HiddenFor(r => r.Id)

        <h5>@DataResources.MainInformation</h5>

        <div class="mx-3 d-flex gap-3">
            @Html.ForGroup(r => r.Code).TextBox(control =>
            {
                control.AddClass("w-20");
                control.Label.Name = DataResources.Abbreviation + DataResources.Necessary;
            })

            @Html.ForGroup(r => r.Name).TextBox(control =>
            {
                control.AddClass("w-80");
                control.Label.Name = DataResources.FacultyName + DataResources.Necessary;
                control.Input.OnChange = dsl => dsl.Self().Call("suggestInputValueByNamingCase", Selector.Jquery.Self(), nameof(Model.Code));
            })
        </div>

        <div class="form-divider"></div>

        <h5>@DataResources.DepartmentsInFaculty</h5>

        @(Html.When(JqueryBind.InitIncoding)
              .AsHtmlAttributes(classes: "mx-3 d-flex flex-column mh-px-300 overflow-auto")
              .ToDiv(Html.Dispatcher().AsViewFromQuery(new GetDepartmentsQuery { FacultyId = Model.Id ?? 0 }, "~/Views/Settings/Faculty/Tmpl/Department_Tmpl.cshtml")))
    }
}
