@model SelectSetting
@removeTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@foreach (var group in Model.Items.GroupBy(s => s.Group))
{
    var isGrouped = !string.IsNullOrWhiteSpace(group.Key);
    if (isGrouped)
    {
        @($"<optgroup label='{group.Key}'>".ToMvcHtmlString())
    }

    @foreach (var option in group)
    {
        var selected = option.Selected ? "selected='selected'" : "";

        <option value="@option.Value" 
                data-tokens="@option.Search" 
                data-subtext="@option.SubText"
                @selected >
            @option.Text
        </option>
    }

    @if (isGrouped)
    {
        @("</optgroup>".ToMvcHtmlString())
    }
}
