@{
    var facultyId = (string)ViewData["FacultyId"];
}

<header class="d-flex p-3 justify-content-center">
    <div class="d-flex gap-3 w-50">
        @(await Html.PartialAsync("~/Views/Shared/DropDown_Tmpl.cshtml", new DropdownModel
        {
            Text = DataResources.Create,
            Title = DataResources.Create,
            Items = new List<IHtmlContent>
            {
                Html.Controls().Dropdown.Button(settings =>
                {
                    settings.Text = DataResources.Building;
                    settings.Href = Url.Dispatcher().Query(new AddOrEditBuildingCommand.AsView()).AsView("~/Views/Edit/Building/AddOrEdit.cshtml").ToRelative();
                }),
                Html.Controls().Dropdown.Button(settings =>
                {
                    settings.Text = DataResources.Auditorium;
                    settings.Href = Url.Dispatcher().Query(new AddOrEditAuditoriumCommand.AsView()).AsView("~/Views/Edit/Auditorium/AddOrEdit.cshtml").ToRelative();
                }),
                Html.Controls().Dropdown.Button(settings =>
                {
                    settings.Text = DataResources.AuditoriumKind;
                    settings.Href = Url.Dispatcher().Query(new AddOrEditAuditoriumKindCommand.AsView()).AsView("~/Views/Edit/AuditoriumKind/AddOrEdit.cshtml").ToRelative();
                }),
                Html.Controls().Dropdown.Button(settings =>
                {
                    settings.Text = DataResources.Faculty;
                    settings.Href = Url.Dispatcher().Query(new AddOrEditFacultyCommand.AsView()).AsView("~/Views/Edit/Faculty/AddOrEdit.cshtml").ToRelative();
                }),
                Html.Controls().Dropdown.Button(settings =>
                {
                    settings.Text = DataResources.Department;
                    settings.Href = Url.Dispatcher().Query(new AddOrEditDepartmentCommand.AsView()).AsView("~/Views/Edit/Department/AddOrEdit.cshtml").ToRelative();
                }),
                Html.Controls().Dropdown.Button(settings =>
                {
                    settings.Text = DataResources.Teacher;
                    settings.Href = Url.Dispatcher().AsView("~/Views/Edit/Teacher/AddOrEdit.cshtml").ToRelative();
                }),
                Html.Controls().Dropdown.Divider(),
                Html.Controls().Dropdown.Button(settings =>
                {
                    settings.Text = DataResources.Discipline;
                    settings.Href = Url.Dispatcher().Query(new AddOrEditDisciplineCommand.AsQuery()).AsView("~/Views/Edit/Discipline/AddOrEdit.cshtml").ToRelative();
                }),
                Html.Controls().Dropdown.Divider(),
                Html.Controls().Dropdown.Button(settings =>
                {
                    settings.Text = DataResources.Group;
                    settings.Href = Url.Dispatcher().AsView("~/Views/Edit/Group/AddOrEdit.cshtml").ToRelative();
                })
            }
        }))

        @(await Html.PartialAsync("~/Views/Shared/DropDown_Tmpl.cshtml", new DropdownModel
        {
            Text = DataResources.Edit,
            Title = DataResources.Edit,
            Items = new List<IHtmlContent>
            {
                Html.Controls().Dropdown.Button(settings =>
                {
                    settings.Text = DataResources.Building;
                    settings.Href = Url.Dispatcher().AsView("~/Views/Edit/Building/Index.cshtml").ToRelative();
                }),
                Html.Controls().Dropdown.Button(settings =>
                {
                    settings.Text = DataResources.Auditorium;
                    settings.Href = Url.Dispatcher().AsView("~/Views/Edit/Auditorium/Index.cshtml").ToRelative();
                }),
                Html.Controls().Dropdown.Button(settings =>
                {
                    settings.Text = DataResources.AuditoriumKind;
                    settings.Href = Url.Dispatcher().AsView("~/Views/Edit/AuditoriumKind/Index.cshtml").ToRelative();
                }),
                Html.Controls().Dropdown.Button(settings =>
                {
                    settings.Text = DataResources.Faculty;
                    settings.Href = Url.Dispatcher().AsView("~/Views/Edit/Faculty/Index.cshtml").ToRelative();
                }),
                Html.Controls().Dropdown.Button(settings =>
                {
                    settings.Text = DataResources.Department;
                    settings.Href = Url.Dispatcher().AsView("~/Views/Edit/Department/Index.cshtml").ToRelative();
                }),
                Html.Controls().Dropdown.Button(settings =>
                {
                    settings.Text = DataResources.Teacher;
                    settings.Href = Url.Dispatcher().AsView("~/Views/Edit/Teacher/Index.cshtml").ToRelative();
                }),
                Html.Controls().Dropdown.Divider(),
                Html.Controls().Dropdown.Button(settings =>
                {
                    settings.Text = DataResources.Discipline;
                    settings.Href = Url.Dispatcher().AsView("~/Views/Edit/Discipline/Index.cshtml").ToRelative();
                }),
                Html.Controls().Dropdown.Button(settings =>
                {
                    settings.Text = DataResources.ScheduleFormat;
                    settings.Href = Url.Dispatcher().Query(new AddOrEditScheduleFormatCommand.AsQuery()).AsView("~/Views/Edit/ScheduleFormat/AddOrEdit.cshtml").ToRelative();
                }),
                Html.Controls().Dropdown.Button(settings =>
                {
                    settings.Text = "Занятость";
                    settings.Href = Url.Dispatcher().AsView("~/Views/Edit/ItemBusyness/Index.cshtml").ToRelative();
                }),
                Html.Controls().Dropdown.Divider(),
                Html.Controls().Dropdown.Button(settings =>
                {
                    settings.Text = DataResources.Group;
                    settings.Href = Url.Dispatcher().AsView("~/Views/Edit/Group/Index.cshtml").ToRelative();
                })
            }
        }))
    </div>

    <div>
        <a class="text-decoration-none text-black" href="@Url.Action("Index", "Home")">@DataResources.ApplicationName</a>
    </div>

    <div class="d-flex flex-row-reverse gap-3 w-50">
        @(await Html.PartialAsync("~/Views/Shared/DropDown_Tmpl.cshtml", new DropdownModel
        {
            Text = DataResources.funny_userok,
            Items = new List<IHtmlContent>
            {
                Html.Controls().Dropdown.Button(settings => settings.Text = DataResources.SignOut)
            }
        }))

        <div class="btn btn-light p-1">
            <i class="material-symbols-rounded">settings</i>
        </div>

        @(Html.When(JqueryBind.Change)
              .StopPropagation()
              .PreventDefault()
              .Ajax(Url.Dispatcher().Push(new AddCookieCommand
              {
                  Key = GlobalSelectors.FacultyId,
                  Value = Selector.Jquery.Self().Val()
              }))
              .AsHtmlAttributes(new { name = GlobalSelectors.FacultyId })
              .ToInput(HtmlInputType.Hidden, facultyId))

        @(await Html.PartialAsync("~/Views/Shared/DropDown_Tmpl.cshtml", new DropdownModel
        {
            Text = DataResources.Faculty,
            Items = new List<IHtmlContent>
            {
                Html.Controls().Dropdown.Button(settings =>
                {
                    settings.Text = DataResources.Edit;
                    settings.Href = Url.Dispatcher().Query(new GetFacultiesQuery()).AsView("~/Views/Edit/Faculty/Index.cshtml").ToRelative();
                }),
                Html.Controls().Dropdown.Divider(),
                Html.Controls().Dropdown.List(settings =>
                {
                    settings.Id = GlobalSelectors.FacultyListId;
                    settings.Url = Url.Dispatcher().Query<GetFacultiesQuery>(new { }).AsJson();
                    settings.CustomTemplate = "~/Views/Shared/DropDown/DropDownItem_Tmpl.cshtml";
                    settings.OnSuccess = dsl => Html.Controls().Dropdown.SetTitle(dsl, Selector.Jquery.EqualsAttribute("key", facultyId).Attr("code"));
                    settings.OnClick = dsl =>
                    {
                        Html.Controls().Dropdown.SetTitle(dsl, Selector.Event.Data.For("Code"));
                        dsl.WithName(GlobalSelectors.FacultyId).JQuery.Attr.Val(Selector.Event.Data.For("Id"));
                        dsl.WithName(GlobalSelectors.FacultyId).Trigger.Change();
                        dsl.Document.RedirectToSelf();
                    };
                })
            }
        }))
    </div>
</header>
