@using Resources
@using Incoding.Web.MvcContrib
@using Domain.Api
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/custom_bootstrap.css">
    <link rel="stylesheet" href="~/icons/bootstrap-icons/font/bootstrap-icons.css"/>
    <title>@DataResources.ApplicationName</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="d-flex padding-16 justify-content-center">
        <div class="d-flex gap-16 w-50">
            <div class="dropdown">
                <button class="btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @DataResources.Create
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">@DataResources.Building</a></li>
                    <li><a class="dropdown-item" href="#">@DataResources.Faculty</a></li>
                    <li><a class="dropdown-item" href='@Url.Action("EditDepartment", "Home")'>@DataResources.Department</a></li>
                    <li><a class="dropdown-item" href="#">@DataResources.Teacher</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">@DataResources.Discipline</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">@DataResources.Group</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @DataResources.Edit
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">@DataResources.Building</a></li>
                    <li><a class="dropdown-item" href="#">@DataResources.Faculty</a></li>
                    <li><a class="dropdown-item" href='@Url.Action("EditDepartment", "Home")'>@DataResources.Department</a></li>
                    <li><a class="dropdown-item" href="#">@DataResources.Teacher</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">@DataResources.Discipline</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">@DataResources.Group</a></li>
                </ul>
            </div>
        </div>

        <div>
            @DataResources.ApplicationName
        </div>

        <div class="d-flex flex-row-reverse gap-16 w-50">
            <div class="dropdown">
                <button class="btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Пользователь
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">@DataResources.SignOut</a></li>
                </ul>
            </div>
            <div class="btn btn-light">
                Н
            </div>
            @using (Html.When(JqueryBind.InitIncoding)
                        .Ajax<GetFacultiesQuery>(new {})
                        .OnSuccess(dsl => dsl.WithSelf(s => s.Find(HtmlTag.Hr).Parent()).Insert.WithTemplateByView("~/Views/Shared/DropDown/DropDownItem_Tmpl.cshtml").Append())
                        .AsHtmlAttributes()
                        .ToBeginTag(HtmlTag.Div))
            {
                <button class="btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    ИКТИБ
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href='@Url.Action("EditFaculty", "Home")'>Редактировать</a></li>
                    <li><hr class="dropdown-divider"></li>
                </ul>
            }
        </div>
    </header>
    <main role="main" class="container flex-grow-1 d-flex flex-column gap-16 justify-content-center">
        @await RenderSectionAsync("Body")
    </main>

    <footer class="d-flex padding-16 justify-content-between">
        <div></div>
        <div class="d-flex gap-16 flex-row-reverse">
            <div class="btn btn-light">
                @DataResources.Documentation
            </div>
            <div class="btn btn-light">
                @DataResources.Help
            </div>
        </div>
    </footer>

    <script src="~/lib/jq.js"></script>
    <script src="~/lib/inc.js"></script>
    <script src="~/lib/script.js"></script>
    <script src="~/lib/bootstrap.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
