@model DropdownModel

<div role="dropdown" class="dropdown @Model.Classes" id="@Model.Id">
    <button class="btn @Model.Button?.Classes" type="button"
            data-bs-toggle="dropdown" aria-expanded="false" title="@Model.Button?.Title" id="@Model.Button?.Id"
            @(Model.Button.IsDisabled ? "disabled" : "")>
        @if (string.IsNullOrWhiteSpace(Model.Button?.Icon))
        {
            <span role="title" id="@Model.Button?.TextId">@Model.Button?.Text</span>
        }
        else
        {
            <span class="material-symbols-rounded" role="title">@Model.Button.Icon</span>
        }
    </button>
    <ul class="dropdown-menu @Model.DropdownMenu?.Classes">
        @foreach (var item in Model.Items)
        {
            @item.ToHtmlString()
        }
    </ul>
</div>
