@using Domain.Api.Schedule
@using (var template = Html.Incoding().Template<GetClassByWeekQuery.Response>())
{
    using (var each = template.ForEach())
    {
        var filter = $"{each.For(r => r.Discipline)} {each.For(r => r.DisciplineCode)} {each.For(r => r.Teacher)} "
                     + $"{each.For(r => r.Department)} {each.For(r => r.DepartmentCode)} {each.Inline(r => r.HasSubGroups, DataResources.WithSubGroups, DataResources.WithoutSubGroups)} "
                     + $"{each.For(r => r.SubDiscipline)} {each.For(r => r.SubDisciplineCode)}";

        <div class="h-100 bg-light rounded class-card d-flex flex-column shadow shadow-hover cursor-grab" role="drag-element" name="card" filter="@filter">
            @Html.Hidden(nameof(SaveScheduleCommand.DisciplinePlanId), each.For(r => r.DisciplinePlanId))
            @Html.Hidden(nameof(SaveScheduleCommand.SubGroupNo), each.For(r => r.SubGroupNo))

            <div class="w-100 rounded-top flex-shrink-0" style="height: 0.25rem; background-color: @each.For(r => r.Color)"></div>

            <div class="d-flex mx-1 mt-1 gap-2">
                <div class="flex-grow-1 discipline-code" title="@each.For(r => r.Discipline)">
                    @each.For(r => r.DisciplineCode)
                </div>
                <div class="flex-grow-1 discipline text-nowrap text-overflow-elipsis overflow-hidden" title="@each.For(r => r.Discipline)">
                    @each.For(r => r.Discipline)
                </div>

                <div class="flex-shrink-0 subdiscipline-code" title="@each.For(r => r.SubDiscipline)">
                    @each.For(r => r.SubDisciplineCode)
                </div>
                <div class="flex-shrink-0 subdiscipline" title="@each.For(r => r.SubDiscipline)">
                    @each.For(r => r.SubDiscipline)
                </div>
            </div>

            <div class="mx-1">
                @each.Inline(r => r.HasSubGroups,
                             @<text>
                                 @each.For(r => r.SubGroupNo) @DataResources.SubGroup
                              </text>,
                             @<text>
                                 -
                              </text>)
            </div>

            <div class="d-flex mx-1">
                <div class="flex-grow-1">
                    @each.IsInline(r => r.IsGroup, each.For(r => r.Teacher))
                    @each.IsInline(r => r.IsAuditorium, each.For(r => r.Teacher))
                    @each.IsInline(r => r.IsTeacher, each.For(r => r.Group))
                </div>
                <div class="flex-shrink-0" @(each.IsInline(r => r.IsGroup, $@"title=""{each.For(r => r.Department)}""")) @(each.IsInline(r => r.IsTeacher, $@"title=""{each.For(r => r.Department)}"""))>
                    @each.IsInline(r => r.IsGroup, each.For(r => r.DepartmentCode))
                    @each.IsInline(r => r.IsAuditorium, each.For(r => r.Group))
                    @each.IsInline(r => r.IsTeacher, each.For(r => r.DepartmentCode))
                </div>
            </div>

            @Html.Hidden(nameof(SaveScheduleCommand.AuditoriumId), each.For(r => r.AuditoriumId))
        </div>
    }
}
