@using Domain.Api.Schedule
@model ITemplateSyntax<GetScheduleByWeekQuery.ClassItem>

<div class="h-100 bg-light rounded class-card d-flex flex-column shadow shadow-hover cursor-grab" role="drag-element">
    @Html.Hidden(nameof(SaveScheduleCommand.DisciplinePlanId), Model.For(r => r.DisciplinePlanId))
    @Html.Hidden(nameof(SaveScheduleCommand.SubGroupNo), Model.For(r => r.SubGroupNo))
    @Html.Hidden(nameof(SaveScheduleCommand.Id), Model.For(r => r.Id))

    <div class="w-100 rounded-top flex-shrink-0" style="height: 0.25rem; background-color: @Model.For(r => r.Color)"></div>

    <div class="d-flex mx-1 mt-1 gap-2">
        <div class="flex-grow-1 discipline-code" title="@Model.For(r => r.Discipline)">
            @Model.For(r => r.DisciplineCode)
        </div>
        <div class="flex-grow-1 discipline text-overflow-elipsis text-nowrap overflow-hidden" title="@Model.For(r => r.Discipline)">
            @Model.For(r => r.Discipline)
        </div>

        <div class="flex-shrink-0 subdiscipline-code" title="@Model.For(r => r.SubDiscipline)">
            @Model.For(r => r.SubDisciplineCode)
        </div>
        <div class="flex-shrink-0 subdiscipline" title="@Model.For(r => r.SubDiscipline)">
            @Model.For(r => r.SubDiscipline)
        </div>
    </div>

    <div class="mx-1">
        @Model.Inline(r => r.HasSubGroups,
                      @<text>
                          @Model.For(r => r.SubGroupNo) @DataResources.SubGroup
                       </text>,
                      @<text>
                          -
                       </text>)
    </div>

    <div class="d-flex mx-1">
        <div class="flex-grow-1">
            @Model.For(r => r.Teacher)
        </div>
        <div class="flex-shrink-0" title="@Model.For(r => r.Department)">
            @Model.For(r => r.DepartmentCode)
        </div>
    </div>

    @Html.Hidden(nameof(SaveScheduleCommand.AuditoriumId))

    @await Html.PartialAsync("~/Views/Shared/DropDown_Tmpl.cshtml", new DropdownModel
           {
               Button = new DropdownModel.ButtonSettings
               {
                   Classes = "w-100 btn-light btn-sm",
                   Text = "test"
               },
               Items = new List<IHtmlContent>
               {
                   Html.Controls().Dropdown.List(settings =>
                   {
                       settings.Url = Url.Dispatcher().Query<GetAuditoriumsForDDQuery>().AsJson();
                       settings.OnClick = dsl => { dsl.Window.Console.Log("r-debug", 1); };
                   })
               },
               Classes = "mx-1 mb-1"
           })
</div>
