@using System.Globalization
@model GetWeekendCalendarQuery.Response
@{
    Layout = "_AddOrEdit_Layout";
}

@section Title
{
    @DataResources.Weekends
}

@section RemoveButton
{
    @Html.Controls().ButtonConfirm(settings =>
    {
        settings.Url = Url.Dispatcher().Push(new FetchWeekendDaysFromAPICommand
        {
            Start = Model.Start,
            End = Model.End
        });
        settings.OnSuccess = dsl => dsl.WithId(nameof(Holidays)).Trigger.Click();
        settings.Text = DataResources.SetWeekendAutomatic;
        settings.Icon = "cloud_download";
        settings.TextConfirm = DataResources.ConfirmAction;
        settings.TextInProcess = DataResources.Importing;
        settings.Color = ConfirmSettings.ButtonColor.Secondary;
    })

    @Html.Controls().ButtonConfirm(settings =>
    {
        settings.Url = Url.Dispatcher().Push(new ResetAllWeekendsCommand());
        settings.OnSuccess = dsl => dsl.WithId(nameof(Holidays)).Trigger.Click();
        settings.Text = DataResources.Reset;
        settings.Icon = "delete";
        settings.TextConfirm = DataResources.ConfirmDelete;
        settings.TextInProcess = DataResources.Deletion;
        settings.Color = ConfirmSettings.ButtonColor.Danger;
        settings.AdditionalClasses = "ms-3";
    })
}

@section Body
{
    @using (Html.Controls().Form(settings => { settings.Class = "d-flex flex-column gap-3"; }))
    {
        <div class="d-flex flex-row flex-wrap gap-3">
            @foreach (var month in Model.Months)
            {
                <div class="schedule-month-card border rounded" style="width: 300px; height: 300px;">
                    <table class="w-100 h-100 table-fixed">
                        <thead>
                            <tr>
                                <th colspan="7">
                                    <h5 class="px-3 pt-2">@month.Name</h5>
                                </th>
                            </tr>
                            <tr>
                                <th class="text-center">
                                    <div style="width: 42px;">@DateTimeFormatInfo.CurrentInfo.GetAbbreviatedDayName(DayOfWeek.Monday)</div>
                                </th>
                                <th class="text-center">
                                    <div style="width: 42px;">@DateTimeFormatInfo.CurrentInfo.GetAbbreviatedDayName(DayOfWeek.Tuesday)</div>
                                </th>
                                <th class="text-center">
                                    <div style="width: 42px;">@DateTimeFormatInfo.CurrentInfo.GetAbbreviatedDayName(DayOfWeek.Wednesday)</div>
                                </th>
                                <th class="text-center">
                                    <div style="width: 42px;">@DateTimeFormatInfo.CurrentInfo.GetAbbreviatedDayName(DayOfWeek.Thursday)</div>
                                </th>
                                <th class="text-center">
                                    <div style="width: 42px;">@DateTimeFormatInfo.CurrentInfo.GetAbbreviatedDayName(DayOfWeek.Friday)</div>
                                </th>
                                <th class="text-center">
                                    <div style="width: 42px;">@DateTimeFormatInfo.CurrentInfo.GetAbbreviatedDayName(DayOfWeek.Saturday)</div>
                                </th>
                                <th class="text-center">
                                    <div style="width: 42px;">@DateTimeFormatInfo.CurrentInfo.GetAbbreviatedDayName(DayOfWeek.Sunday)</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var week in month.Weeks)
                            {
                                <tr>
                                    @{
                                        var firstDayOfWeek = week.Days.First().Day.DayOfWeek;
                                    }
                                    @if (firstDayOfWeek == DayOfWeek.Sunday)
                                    {
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    }
                                    else if (firstDayOfWeek != DayOfWeek.Monday)
                                    {
                                        for (var i = 0; i < ((int)firstDayOfWeek - (int)DayOfWeek.Monday); i++)
                                        {
                                            <td></td>
                                        }
                                    }
                                    @foreach (var day in week.Days)
                                    {
                                        var color = day.Type != GetWeekendCalendarQuery.DayItem.WeekendType.None ? "btn-secondary" : "btn-light";
                                        var url = Url.Dispatcher().Push(new ToggleMarkAsWeekendCommand
                                        {
                                            Day = day.Day
                                        });

                                        <td class="text-center">

                                            @(Html.When(JqueryBind.Click)
                                                  .PreventDefault()
                                                  .AjaxPost(url)
                                                  .OnSuccess(dsl => dsl.Self().JQuery.Attr.ToggleClass("btn-secondary btn-light"))
                                                  .AsHtmlAttributes(classes: $"btn btn-sm {color}",
                                                                    title: DataResources.ToggleWeekend,
                                                                    disabled: day.Type == GetWeekendCalendarQuery.DayItem.WeekendType.Weekend)
                                                  .ToButton(day.Day.Day.ToString()))
                                        </td>
                                    }
                                </tr>
                            }
                            @for (var i = 0; i < 5 - month.Weeks.Count; i++)
                            {
                                <tr>
                                    <td colspan="7">&nbsp</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    }
}
