@model AddOrEditTeacherCommand
@{
    Layout = "~/Views/Shared/_AddOrEdit_Layout.cshtml";
}

@section Title
{
    @DataResources.Teacher
}

@section RemoveButton
{
    @Html.Controls().ButtonConfirm(settings =>
    {
        settings.IsDisabled = Model.Id == 0;
        settings.Url = Url.Dispatcher().Push(new DeleteTeacherCommand { Id = Model.Id ?? 0 });
        settings.OnSuccess = dsl => dsl.WithId(nameof(Teacher)).Trigger.Click();
        settings.Text = DataResources.Delete;
        settings.Icon = "delete";
        settings.TextConfirm = DataResources.ConfirmDelete;
        settings.TextInProcess = DataResources.Deletion;
        settings.Color = ConfirmSettings.ButtonColor.Danger;
    })
}

@section Body
{
    @using (Html.Controls().Form(settings =>
    {
        settings.Url = Url.Dispatcher().Push<AddOrEditTeacherCommand>();
        settings.OnSave = dsl => dsl.WithId(nameof(Teacher)).Trigger.Click();
        settings.Class = "d-flex flex-column gap-3";
    }))
    {
        @Html.HiddenFor(r => r.Id)

        <h5>@DataResources.MainInformation</h5>

        <div class="mx-3 d-flex gap-3">
            @Html.ForGroup(r => r.Name).TextBox(control =>
            {
                control.AddClass("w-100");
                control.Label.Name = DataResources.TeacherName + DataResources.Necessary;
            })
        </div>

        <div class="mx-3 d-flex gap-3">
            @Html.ForGroup(r => r.DepartmentId).DropDown(control =>
            {
                control.AddClass("w-100");
                control.Label.Name = DataResources.Department + DataResources.Necessary;
                control.Input.Data = Html.Dispatcher().Query(new GetDepartmentsForDDQuery
                {
                    FacultyId = Convert.ToInt32(Context.Request.Cookies[GlobalSelectors.FacultyId])
                });
            })
        </div>
    }
}
